<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <link rel="icon" href="static/icon.png" type="image/x-icon" />
    <title>Secure Messenger</title>

</head>

<body>
    <div class="med_round" style="width: 30%; padding: 10px; margin: auto; margin-top: 10px;">
        <h1>Welcome to Secure Messenger!</h1>
        <p>
            Secure Messenger is a messaging application that uses RSA public key encryption to ensure your messages stay safe and secure!
        </p>
        <h2>Get started</h2>
        <p style="display: inline-block;  margin-top: 0px;">Click </p><a href="/sign_up" style="display: inline-block; margin-left: 5px;">here</a> to make an account<br>
        <p style="display: inline-block; margin-top: 0px;">Already have an account? Click </p><a href="/login" style="display: inline-block; margin-left: 5px;;">here</a> to log in
        
    </div> 
    <script src="static/main.js"></script>
</body>