<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <link rel="icon" href="static/icon.png" type="image/x-icon" />
    <title>Secure Messenger</title>
</head>

<body>
    <div class="med_round" style="width: 40%; padding: 10px; margin: auto; margin-top: 10px ;">
        <h1>Welcome to Secure Messenger!</h1>
        <p style="display: inline-block; margin: 0px">Your private key is</p>
        <p id="private_key" style="display: inline-block; margin: 0px"></p>
        <p style="margin: 0px">For your security this key will not be stored on the server, so it is recommended that you store this key somewhere safe, as you will need it to log in</p>
        <p style="display: inline-block;">Click </p><a href="/messages" style="display: inline-block; margin-left: 5px;;">here</a> to get started messaging!
    </div> 

    <script src="static/welcome.js"></script>
</body>